// .banner img{
//     width: 100%;
//     height: 30rem;
//     object-fit: cover;
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: relative;
    
// }