form {
    padding: 10px;
    text-align: center;
    margin-top: 1rem;    
}

form option{
    text-align: center;
    padding-left: 10px;
}
select{
    appearance: none;
}
.selection {
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 20px;
    text-transform: uppercase;
    border: solid $highlightColor 3px;
    background-color: black;
    color: white;
    padding: 10px;
    text-align-last: center;
}

.selection:focus{
    outline: none;
}


