.categories{

  #selectCategories{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem auto;   
  }

  .button {
      text-align: center;
      display: inline-block;
      cursor: pointer;
      position:relative;
      overflow:hidden;
  }
    
    .button:before {
      content: "";
      position: absolute;
      width: 0;
      background : $highlightColor;
      left: 45%;
      height: 2px;
      bottom: 0;
      transition: all .3s;
      opacity: 0.7;
    }
    
    .button:hover:before {
      width: 100%;
      left:0;
    }

    button {
      background: transparent;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      color: $highlightColor;
      padding: 1rem .5rem;
      cursor: pointer;
      right:0;
      font-size: .8rem;
    }
    
    button:hover {
      border-radius: 17px;
      box-shadow: 0px 0px 0px transparent;
      border: 0px solid transparent;
      text-shadow: 0px 0px 0px transparent;
      font-weight: 800;
      font-size: 1rem;
    }
    
    button:active {
      outline: none;
      border: none;
      font-weight: 800;
      font-size: 1rem;
    }
    
    button:focus {
    font-weight: 800;
      font-size: 1rem;
    }

  @media (min-width: $mobileWide) {
    button {
      font-size: 1rem;
    }
    
    button:hover {
      font-weight: 900;
      font-size: 1.5rem;
    }   
    button:active {
      font-weight: 900;
      font-size: 1.5rem;
    }
    
    button:focus {
    font-weight: 900;
      font-size: 1.5rem;
    }
  } 
    
  @media (min-width: $tablet){
    #selectCategories{
      width: 35rem;
    }
  }

  @media (min-width: $desktop){
    #selectCategories{
      width: 40rem;
      justify-content: space-between;
    }
  }

  @media (min-width: $desktopWide){

  }

}

