form {
    padding: 10px;
    text-align: center;
    margin-top: 1rem;
    
}
select{
    appearance: none;
    border: none;
}
.selection {
    width: 15rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    text-transform: uppercase;
    border: solid #BC5E52 3px;
    background-color: black;
    color: white;
    text-align-last: center;
}



option {
    padding: 5px;
    
}
.catgories {
    text-align: center;
}


