.btn-favourite {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 3rem;
    right: 3%;
    top: 6%;
}

.sr-only {
    position: absolute;
    color: rgba(black, .6);
    width: 1px;
    height: 1px;
    font-size: 1px;
}

.movie-poster .btn-favourite {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.5rem;
}

@media (min-width: $tablet) {
    .btn-favourite {
        // width: 2.5rem;
        right: 4%;
    }
   
}



@media (min-width: $desktop){

.movie-poster .btn-favourite{
    top: 3.5rem;
    right: 4rem;
 
}}

@media (min-width: 950px){
    .movie-poster .btn-favourite{
        top: 4rem;
        right: 34%;

    }
}

@media (min-width: $desktopWide) {
    .movie-poster .btn-favourite{
        top: 3rem;
        right: 0rem;

    }
}