.btn-favourite {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 30%;
    right: 5%;
    top: 8%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
}