.btn-favourite {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 6rem;
    right: 0%;
    top: 0%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 1px;
}

@media (min-width: $tablet) {
    .btn-favourite {
        width: 5.5rem;
    }
}

