footer {
    position: relative;
    color: $textColor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr, 1fr;
    justify-content: space-evenly;
    // text-align: center;
    border-top: solid 3px $highlightColor;
    a{
        color: $textColor;
        text-decoration: none;
        margin: 0 2%;
       
    }
}

.footer-logo .logo {
    position: absolute;
   grid-column: 1/2;
   width: 10rem;
   top: 4rem;
   left: 5rem;
}

.tmdb-logo {
    position: absolute;
    grid-column: 3/4;
    width: 4rem;
    top: 1rem;
    right: 2.5rem;
    p{
        font-size: .5rem;
    }
}

.copyright-names {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
    margin-top: 1rem;
    font-size: .75rem;
    a{
        margin: 0;
    }
}

.footer-nav {
    // display: flex;
    list-style: none;
    text-align: center;
    line-height: 1.5rem;
    margin: 2rem 0 0 0;

}


@media (min-width: $tablet) {
    .tmdb-logo {
        right: 20%;
    }
    .footer-logo .logo {
        left: 35%;
    }
}

@media (min-width: $desktopWide) {
    .footer-logo .logo {
        left: 30%;
    }
}