// note: some nav menu styling on header.scss page
.nav-menu a{
    text-decoration-line: none;
    color: #BC5E52;
    display: block;
    padding: 1rem;
    
    text-align: center;
}


.nav-menu a{
    text-decoration-line: none;
    color: #BC5E52;
    display: block;
    padding: 1rem;
    
    text-align: center;
}

.nav-menu a:hover{
    background-color: #BC5E52;
    color: black;
}

nav {
    text-decoration: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 76px;

    background-color: black;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: height 0.5s ease, visibility 0s 0.5s;
    } 
    &.open ul{
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 150px;
    }
}

@media(min-width: $desktop){
    nav {
        // position: absolute;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // z-index: 0;
        // padding-right: 10rem;
    }
    // .nav-menu a{
    //     padding: 0.5rem;
    //     font-size: 1.5rem;
    // }
    .nav-menu a:hover{
        background: none;
        color: #BC5E52;
        border-bottom: 2px solid #BC5E52;
    }

    
    nav.close{
        top: 5px;
        right: 20px;
        font-size: 1.4rem;
        
    
    }

    .nav-menu{
        display: flex;
        justify-content: flex-end;
        visibility: visible;
        overflow: visible;
        padding-right: 1.8rem;
    }
}



