.overlay{
    color:$textColor;
    position: absolute;
    bottom:4px;
    background-color: rgba(black, .7);
    width: 100%;
    height: 30%;
    border-radius: 20px;
}
.overlay-up{
    color:$textColor;
    position: absolute;
    top: 0;
    background-color: rgba(black, .7);
    width: 97.5%;
    height: 30%;
    z-index: 3;
    padding-left: 10px;
    border-radius: 20px;
}

.heart {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    z-index: 4;
}

.movie-info {
    position: relative;
    display: block;
    margin: 3rem;
    border-radius: 20px;  
    border: 3px solid $highlightColor; 
}

.vote{
    color: $highlightColor;
    font-size: 2rem;
    margin-top: 1rem;
}
.poster {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
   
}

.release-date{
    color: $highlightColor;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 10px;
    margin: 5px 0 5px 0;
}

.movie-title {
    position: relative;
    top:-5px;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.description {
    width: 95%;
    font-size: .7rem;
    padding-left: 10px;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 5px 0 5px 0;
  line-height: 1.5;
    
}

.overlay a,
.overlay-up a{
    text-transform: uppercase;
    color: $highlightColor;
    text-decoration: none;
    padding-left: 10px;
    margin-bottom: 1rem;
}

.overlay-up a{
    color: white;
}


@media (min-width: $mobileWide){
.description {
    width: 95%;
    font-size: 1rem;
    padding-left: 1rem;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 10px 0 10px 0;
  line-height: 1.5;
    
}

.overlay a,
.overlay-up a{
    text-transform: uppercase;
    color: $highlightColor;
    text-decoration: none;
    padding-left: 20px;
    margin-bottom: 1rem;
}

.overlay-up a{
    color: white;
}
}

@media (min-width: $tablet){

    .overlay{
        width: 96%;
        right: 5px;
        left: 0;
        bottom: 0;
        width: auto;
        overflow: hidden;
        height: 0;
        transition: all .1s ease;
        margin-right: 0;
    }
    
    .overlay-up{
        width: 92%;
        top: 0;
        left: 0;
        right: 5px;
        overflow: hidden;
        height: 0;
        transition: all .1s ease;
        padding-left: 10px;
    }

    .movie-title{
        font-size: 1rem;
    }
    .movie-info {
        margin: 1rem;
    }

    .movie-info:hover .overlay{
        padding: 10px;
        margin: 0;
        height: 30%;
        right: 0;
    }
    
    .movie-info:hover .overlay-up{
        padding: 10px;
        height: 30%;
        
    }
    

    .vote {
        font-size: 1.5rem;
        margin-top: .5rem;
    }
    
    .release-date{
        font-size: 1rem;
        padding-left: 10px;
        margin: 0;
    }

    .description{
       font-size: 1rem;
       padding-left: 5px;
       line-height: 1;
    }
    .overlay a{
        padding-left: 5px;
    }
}

@media (min-width: $desktop){
    .wrapper{
        width: 80%;
        margin: 0 auto;
        padding-top: 0;
    }
    .movie-info:hover .overlay{
        height: 30%;
    }
    
    .movie-info:hover .overlay-up{
        height: 35%;
        width: 93%;
    }
    .movie-title{
        top: -15px;
    }
}