.overlay{
    color:$textColor;
    position: absolute;
    bottom:5px;
    left: 3px;
    background-color: rgba(black, .7);
    width: 100%;
    height: 30%;
    border-radius: 20px;
}
.overlay-up{
    color:$textColor;
    position: absolute;
    top: 2px;
    left: 3px;
    background-color: rgba(black, .7);
    width: 97.5%;
    height: 20%;
    z-index: 3;
    padding-left: 10px;
    border-radius: 20px;
}

.heart {
    position: absolute;
    top: 1rem;
    right: 2rem;
    width: 2rem;
    z-index: 4;
}

.movie-info {
    position: relative;
    display: block;
    margin: 3rem;
    border-radius: 20px;   
}

.vote{
    color: $highlightColor;
    font-size: 2rem;
    margin-top: 1rem;
}
.poster {
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px solid $highlightColor;
}

.release-date{
    color: $highlightColor;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 20px;
}

.movie-title {
    position: relative;
    top:-20px;
    margin: 0;
    text-align: center;
    padding-bottom: 20px;
}

.description {
    width: 95%;
    font-size: 1rem;
    padding-left: 1rem;
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-bottom: 0;
    
}

.overlay a{
    text-transform: uppercase;
    color: $highlightColor;
    text-decoration: none;
    padding-left: 20px;
}

@media (min-width: 600px){

    .overlay{
        bottom: 0;
        left: 0;
        overflow: hidden;
        height: 0;
        transition: all .1s ease;
    }
    
    .overlay-up{
        top: 0;
        left: 0;
        overflow: hidden;
        height: 0;
        transition: all .1s ease;
        padding-left: 10px;
    }
    .movie-info {
        margin: 1rem;
    }

    .movie-info:hover .overlay{
        padding: 10px;
        height: 30%;
    }
    
    .movie-info:hover .overlay-up{
        padding: 10px;
        height: 20%;
    }
    
    .vote {
        font-size: 1.5rem;
        margin-top: .5rem;
    }
    
    .release-date{
        font-size: 1rem;
        padding-left: 10px;
        margin: 0;
    }

    .description{
       font-size: 1rem;
       padding-left: 10px;
    }
    .overlay a{
        padding-left: 10px;
    }
}