body {
    background-color:$bgdColor;
}

.movie-list{
    display: block;
    width: 100%;
    margin: 0 auto;    
}



@media (min-width: $tablet){
    .movie-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-gap: 1rem;
        color: $textColor;
        width: 90%;
        padding: 2rem;
    }
    
}

@media (min-width: $desktop){
    .movie-list {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: $desktopWide){
    .movie-list {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
