
  .search-icon{
    fill: white;
    &:hover{
      cursor: pointer;
    }
  }
  
  .search-results-container{
    position: absolute;
    z-index: 1000;
    background-color: black;
    top: 137px;
    left: 0px;
    right: 0px;
    max-width: 100%;
  }
  
  .searchLink{
    background-color: black;
    width: 100%;
  }


.search-content {
  height:0px;
  transition:0.5s;
  overflow:hidden;
  position: absolute;
  visibility: hidden;
  top: 76px;
  left: 0;
  right: 0;
  width:100%;
  background: rgb(23, 23, 23);
  
  &.active {
    height: 61px;
    visibility: visible;
    z-index: 200;
  }

  input {
    background:none;
    border:none;
    height:30px;
    width:100%;
    padding:15px;
    // line-height:30px;
    // color:white;
    outline:none;
    font-size:1.5em;
    color: white;

    &::placeholder {
      color: white; 
    }
  }
}


.movie-link{
  display: flex;
  align-items: center;
  // justify-content: space-between;
  text-decoration: none;
  color: #BC5E52;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.search-poster{
  max-height: 5rem;
}

.movie-link-title{
  text-decoration: none;
}

.search-info{
  padding-left: 1rem;
}

.release-info{
  font-size: 1.25rem;
}


@media(min-width: $desktop){
  .search-results-container{
    width: 30rem;
    // left: 50%;
    // transform: translateX(-50%);
    
  }
}
