.search > div {
    position: relative;
  }
  
  .search > div:after {
    content: "";
    background: white;
    width: 4px;
    height: 15px;
    position: absolute;
    top: 35px;
    right: 2px;
    transform: rotate(140deg);
  }
  
  .search > div > input {
    color: white;
    font-size: 16px;
    background: black;
    width: 15px;
    height: 15px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }
  
  .search > div > input:focus::placeholder {
    opacity: 1;
  }
  
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 250px;
  }
  