@import "./normalize";
@import "./functions";
@import "./mixins";
@import "./variables";
@import "./banner";
@import "./categories";
@import "./navMenu";
@import "./header";
@import "./hamburgerMenu";
@import "./searchBar";
@import "./banner";
@import "./favourites";
@import "./pageHome";
@import "./movieInfo";
@import "./about";
@import "./oneMovie";
@import "./footer";
@import "./page404";

